.sectionProjects{
    padding: 2em;
    background: url('https://images.unsplash.com/photo-1502134249126-9f3755a50d78?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
}

.projects{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sectionProjects h1{
    font-size: 45px;
    width: 100%;
    text-align: center;
    color:#3a9efff0 ;
    margin-bottom: 2em;
}

.loading{
    position: relative;
    width: 300px;
    animation: toApper 2s infinite linear;
}

.loading img{
    border-radius: 50px;
}

.loading p{
    color: rgb(0, 0, 0);
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    animation: toApper 2s infinite linear;
}

@keyframes toApper{
    25%{
        opacity: 0.7;
    }

    50%{
        opacity: 0.4;
    }

    75%{
        opacity: 0.7;
    }

    100%{
        opacity: 1;
    }
}

@media (max-width:600px){
    .sectionProjects h1{
        font-size: 30px;
    }
}

@media(max-width:348px){
    .loading{
        width: 250px;
    }
}

@media(max-width:294px){
    .loading{
        margin-left: -1em;
    }
}