.project{
    position: relative;
    margin-bottom: 2em;
    width: 600px;
}

.project img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
    transition: 0.5s;
    cursor: pointer;
}

.hover:hover{
    background-color: rgb(0, 0, 0,0.7);
    color: #fff;
}

.hover p{
    user-select: none;
}

.hover:hover > p{
    animation: getUp 0.5s normal linear;
}

@keyframes getUp{
    from{
        transform: translateY(100%);
    }

    to{
        transform: translateY(0%);
    }
}

.backGround{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0,0.7);
    z-index: 99;
}

.projectCard{
    position: relative;
    display: flex;
    background:url('https://images.unsplash.com/photo-1608178398319-48f814d0750c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2079&q=80');
    height: 500px;
    width: 80%;
    padding: 2em;
    border-radius: 30px;
}

.projectCard h1{
    margin-bottom: 1em;
}

.projectCard img{
    width: 50%;
    object-fit: cover;
}

.textCard{
    color: #fff;
    font-size: 20px;
    margin-bottom: 5em;
}

.informationsProjectCard a{
    background-color: #fff;
    padding: 0.5em 2em;
    text-decoration: none;
    color: #000;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links{
    display: flex;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5em;
    background-color: transparent;
    font-size: 30px;
    border: none;
    color: red;
    cursor: pointer;
}

.informationsProjectCard svg{
    font-size: 20px;
    margin-right: 0.2em;
}

.site{
    margin-left: 1em;
}

.informationsProjectCard{
    padding: 2em;
}

@media(max-width:1256px){
    .project{
        width: 400px;
    }
}

@media (max-width:872px){
    .projectCard{
        flex-direction: column;
        max-height: 80%;
        overflow-y: scroll;
        padding: 3em;
    }

    .projectCard img{
        width: 100%;
    }

    .textCard{
        margin-bottom: 2em;
    }

    .links{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media(max-width:600px){
    .projectCard{
        padding: 3em 1em;
    }
}

@media(max-width:588px){
    .project{
        width: 300px;
    }
}

@media(max-width:452px){

    .projectCard h1{
        font-size: 20px;
    }

    .close{
        font-size: 20px;
    }

    .textCard{
        font-size: 16px;
    }

    .informationsProjectCard a{
        padding: 0.3em 1em;
        font-size: 14px;
    }

    .informationsProjectCard svg{
        font-size: 16px;
    }
}

@media(max-width:348px){
    .project{
        width: 250px;
    }
}
