body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  overflow-x: hidden;
}

img,form{
  user-select: none;
}

img{
  max-width: 100%;
  max-height: 100%;
}

*{
  margin: 0;
  padding: 0;
}

.showScrool::-webkit-scrollbar{
  width: 0;
}

textarea{
  font-family: 'Roboto', sans-serif;
  resize: none;
}